{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "dataLovers": false,
    "filterType": false
  },
  "rules": {
    "no-console": 0,
    "semi": 2,
  }
}
