{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": { 
    "filterType": false, "POKEMON": false,
    "alphabeticalOrder": false, 
    "alphabeticalInverseOrder": false,
  },
  "rules": {
    "no-console": 0,
    "semi": 2,
  }
}
