

.body-u{
  text-align: center;
  min-height: 100%;
  min-width: 100%;

}

html, body{
  font-family: 'Reenie Beanie';
  height: 100%;
  width: 100%;
  background: #DDCBE5;
  background-size: cover;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.menu nav{
  width: 100%;
  background: #B48DB0;
  float: left;
  border-radius: 5px;
}
.menu nav ul{
  list-style: none;
  position: relative;
}
.menu li{
  display: inline-block;
}
.menu li a{
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
}

#welcomeView{
  font-size: 1.5em;
  text-align: center;
  padding: 12% 10% 0% 15%;
  display: block;
}

#welcomeView h4{
  font-size: 2em;
}

#storyView{
  font-size: 1.5em;
  padding: 10%;
  display: none;
}

#storyView img{
  width: 40%;
}

#howToPlayView{
  font-size: 1.5em;
  text-align: center;
  padding: 10% 10% 0% 10%;
  float: left;
  display: none;
}

#howToPlayView div{
  float: left;
  text-align:center;
  margin: 3% 3%;
}

#howToPlayView h4{
  font-size: 1.9em;
}


.pokemon-go{
}

#pokemonsView{
  text-align: center;
  font-size: 1.95em;
  display: none;
  padding: 8% 8% 8% 8%;
}

#pokemonsView > p{
  font-size: 1.5em;
}

#buttonsType{
  padding: 0% 3%;
}

#showTypes{

}

#button{
  list-style: none;
  position: relative;
}

#button li{
  display: inline-block;
}

#button a{
  color: #fff;
  text-decoration: none;
}

.poke-box{
  text-align:center;
  padding: 4% 5% 5% 5%;
  margin: 1% 1%;
  float: left;
  background-color: #EAD8F3;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.pokemon-name{
  padding: 100%;
  width: 100%;
  height: 100%;
  background-color: #B1B0D8;
  text-align: center;
  font-size: 0.95em;
  color: #fff;
  position: absolute;
  overflow:hidden;
  width: auto;
  height: auto;
  opacity:1;
  transition: opacity 0.8s ease;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-around;
}


.poke-box:hover .pokemon-name{
  opacity: 0;
}

.moda{
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.moda p{
  font-size: 0.85em;
  color: #939393
}

.icon-img{
  width: 65px;
}

.icon{
  width: 150px;
}

.detail p{
  font-size: 0.75em;
  line-height: 0.5em;
  color: #939393;
}

.order{
  color: #939393;
}

.toTop{
}

/*.profile-content{
  background-color: #D6C2C2;
  width: 80%; 
  padding: 3% 3%;
  margin: 3% auto;
  position: relative;
}

#modal:target{
opacity: 1;
pointer-events: auto;
z-index: 100;
}

.pokemon-detail{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.close-x p{
  text-align: right;
  margin: 0%;
  color: #ffff;
  font-size: 0.95em;
}*/

button{
  font-family: 'Reenie Beanie';
  font-size: 0.95em;
  background: none;
  border-radius: 100%;
  border: 0;
  outline: none;
}

button:hover{
  opacity: 0.50;
}

p{
  line-height: 1.5em;
}

a{
  text-decoration: none;
  font-size: 0.95em;
}

a:visited{
  color: #939393;
}

h1{
  text-align: center;
  font-size: 0.55em;
  color: #939393;
}

h2{
  font-size: 0.75em;
  color: #939393;
}

h3{
  text-align: left;
  font-size: 0.65em;
  color: #939393;
}
