.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#6b7381;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #29b5a8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.body-u{
  text-align: center;
}

html, body{
  font-family: 'Average Sans', sans-serif; 
  line-height: 1em;
  /*
  height: 100%;
  width: 100%;
  background-size: cover;
  */
  background:transparent;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	width: 100%;
	max-width: 100%;
}

.menu nav{
background: transparent;
  width: 100%;
  float: left;
  border-radius: 5px;
}
.menu nav ul{
  list-style: none;
  position: relative;
}
.menu li{
  display: inline-block;
}
.menu li a{
  font-size: 2em;
  color: purple;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.go-top{
  z-index: 1;
  position: fixed;
  background:none;
  color:purple;
  border: transparent; 
  padding:0;
  font: inherit;
  /*border is optional*/
  cursor: pointer;
  bottom: center;
  right: 10%;
  top: 50%;
}

.view-one{
  background: #F7F8F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* font-size: 1.5em;
  text-align: center;
  display: block;
  width: 100%;
  margin: 0 auto;*/
  width: 100%;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  display: block;

}

.home-content{
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}



.view-two{
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-size: 1.5em;
  display: none;
  width: 100%;
  margin: 0 auto;
}

.about-pokemon-content{
  width: 80%;
  margin: 0 auto;

}

.view-two img{
  width: 40%;
}

.view-three{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width: 100%;
  margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    display: none;
}

.view-four{
  width: 100%;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  display: none;
}

.pokemon-content{
  display:flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.buttons-type{
  width: 100%;
}

.show-pokemons-result{
  width: 100%;
  margin: auto;
  display: -webkit-flex;
  /*align-content: center;
  align-items: center;*/
  justify-content: space-around;
  flex-wrap: wrap;
  color: #252525;
  font-size: 1em;
}


#button{
  list-style: none;
  position: relative;
}

#button li{
  display: inline-block;
}

#button a{
  color: #fff;
  text-decoration: none;
}

.poke-box{
  text-align:center;
  font-family: 'Mada', sans-serif;
  padding: 4% 5% 5% 5%;
  margin: 1% 1%;
  float: left;
  background-color: #f4f4f4;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.pokemon-name{
  margin: 0 auto;
  padding: 100%;
  width: 100%;
  height: 100%;
  background-color: #e9eaeb;
  text-align: center;
  font-size: 12pt;
  color: #fff;
  position: absolute;
  overflow:hidden;
  width: auto;
  height: auto;
  opacity:1;
  transition: opacity 0.8s ease;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-around;
}

.pokemon-name img{
  height: 200px;
  width: 200px;
}


.poke-box:hover .pokemon-name{
  opacity: 0;
}

.moda{
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.moda p{
  font-size: 0.85em;
  color: #939393
}

/* 
iconos de botón de tipo
*/

.icon-img{
  width: 170px;
  padding: 1em;
}

.detail p{
  font-size: 0.75em;
  line-height: 0.5em;
  color: #939393;
}

.order{
  color: #939393;
}

.toTop{
  text-align: right;
}

/*.profile-content{
  background-color: #D6C2C2;
  width: 80%;
  padding: 3% 3%;
  margin: 3% auto;
  position: relative;
}

#modal:target{
opacity: 1;
pointer-events: auto;
z-index: 100;
}

.pokemon-detail{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.close-x p{
  text-align: right;
  margin: 0%;
  color: #ffff;
  font-size: 0.95em;
}
*/

button{
  background: none;
  border-radius: 10%;
  border: 0;
  outline: none;
}

button:hover{
  opacity: 0.50;
}

p{
  line-height: 1.5em;
}

a{
  text-decoration: none;
  font-size: 0.95em;
}

a:visited{
  color: orange;
}

/*
h1{
  text-align: center;
  font-size: 0.55em;
  color: #939393;
}

h2{
  font-size: 0.75em;
  color: #939393;
}

h3{
  text-align: left;
  font-size: 0.65em;
  color: #939393;
}*/

/*
.contenedor{
  height: 0%;
  overflow: hidden;
  padding-bottom: 40%;
  padding-top: 25%;
  position: relative;

  .contenedor img{
    height: 100%;
    left: 0%;
    position: absolute;
    top:0%;
    max-width: 100%;
    
  }
}*/

.gif-img{
  width: 60%;
  height: auto;
  margin-bottom: 30%;
}
  
.guide-introduction{
  width: 80%;
  margin: 0 auto;
}



.glosary-img{
  width: 35%;
  height: auto;
}

.glosary-content{
  display:flex;
  flex-direction: column;
  
}

.div-row{
  height: 60vh;
}

.glosary-right{
  float: left;
  width: 60%;
  display:flex;
  justify-content: center;
  align-content: center;
}

.glosary-left{
  float:left;
  width: 40%;
  display:flex;
  justify-content: center;
  align-content: center;
}